{% extends 'layout.html' %}
{% block title %}Sil{% endblock %}
{% block content %}
<h1>DELETE SAYFASI</h1>
<form method="POST">
    <!-- Security token by Django -->
    {% csrf_token %}

    <p class="text-decoration-underline fw-semibold">{{ lesson.id }} {{ lesson.name }}</p>
    <p class="text-decoration-underline fw-semibold">{{ student.id }} {{ student.name }} {{ student.surname }}</p>
    <p class="text-decoration-underline fw-semibold">{{ teacher.id }} {{ teacher.name }} {{ teacher.surname }} {{ teacher.lesson }}</p>
    <hr>
    <br>

    Silmek istediğinize emin misiniz ?
    <br>
    <input class="btn btn-danger" type="submit" value="Evet" />
    &nbsp&nbsp
    <a  href="/">Vazgeç </a>
</form>
{% endblock %}