<h1>DELETE SAYFASI</h1>
<div class="main">
    <!-- Create a Form -->
    <form method="POST">
        <!-- Security token by Django -->
        {% csrf_token %}

        {% block content %}
            {{ lesson.id }} {{ lesson.name }}
            {{ student.id }} {{ student.name }} {{ student.surname }}
            {{ teacher.id }} {{ teacher.name }} {{ teacher.surname }}
            <br>
        {% endblock %}

        Silmek istediğinize emin misiniz ?
        <input type="submit" value="Evet" />
        <a href="/">Vazgeç </a>
    </form>
</div>