{% extends 'layout.html' %}
{% block title %}Güncelle{% endblock %}
{% block content %}
<h1>UPDATE SAYFASI</h1>
<form method="POST">
    <!-- Security token by Django -->
    {% csrf_token %}
    {{ lesson.id }} {{ lesson.name }}
    {{ student.id }} {{ student.name }} {{ student.surname }}
    {{ teacher.id }} {{ teacher.name }} {{ teacher.surname }}
    <hr>
    <br>
    <!-- form as paragraph -->
    {{ form.as_p }}
 
    <input class="btn btn-success" type="submit" value="Güncelle">
    &nbsp&nbsp
    <a href="/">Vazgeç </a>
</form>
{% endblock %}